@model Application.Queries.Setting.ViewModels.AboutSectionViewModel
@{
    string font = CultureInfo.CurrentUICulture.Name! == "en-US" ? "English" : ""!;

    string icon = string.Empty;
}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @if (CultureInfo.CurrentUICulture.Name == "fa-IR")
                {
                      <div class="text-right" style="direction:rtl">
                        <h2 class="section-title "> @Localizer["Title"]</h2>
                        <h3 class="mt-3">+ @Model.YearsExperience   @Localizer["SubTitle"] </h3>

                        @Html.Raw(Model.AboutFa)


                    </div>
                    icon = "fa-arrow-circle-left";

                }
                else
                {
                    <div class="text-right" style="direction:ltr">
                        <h2 class="section-title English"> @Localizer["Title"]</h2>
                        <h3 class="mt-3 English">@Model.YearsExperience +  @Localizer["SubTitle"] </h3>
                        <div class="English">

                        @Html.Raw(Model.AboutEn)
                        </div>

                    </div>
                    icon = "fa-arrow-circle-right";
                }
                <a href="/About" class="btn btn-primary mt-4 English">
                    @Localizer["Button"]
                    
                    <i class="fas @icon ms-2"></i>
                </a>
            </div>
            <div class="col-md-6 ">
                <img src="~/gallery/setting/@Model.AboutImagePath" alt="About Us" 
                class="img-fluid w-100" />
               
            </div>
        </div>
    </div>
</section>