@model Application.Queries.Setting.ViewModels.AcademyViewModel
@{
    string font = CultureInfo.CurrentUICulture.Name! == "en-US" ? "English" : ""!;

   
}
<section class="mt-5 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <img src="~/gallery/setting/@Model.AcademyImagePath" alt="About Us"
                     class="img-fluid w-100" />

            </div>
            <div class="col-md-6 mt-4">
                @if (CultureInfo.CurrentUICulture.Name == "fa-IR")
                {
                    <div class="text-right" style="direction:rtl">
                        <h2 class="section-title mb-5" style="color:@Model.AcademyColor"> @Model.AcademyTitleFa</h2>

                    @Html.Raw(Model.AcademyTextFa)
                    
                        @if (!string.IsNullOrEmpty(Model.AcademyTextFa))
                        {
                            <a href="@Model.AcademyLink" class="btn text-white mt-3  btn-primary">
                                <i class="fas fa-arrow-circle-left ms-2"></i>
                                @Model.AcademyButtonTextFa</a>
                        }
                    </div>

                }
                else
                {
                    <div class="text-left" style="direction:ltr">
                        <h2 class="section-title mb-5 @font" style="color:@Model.AcademyColor"> @Model.AcademyTitleEn</h2>
                            @Html.Raw(Model.AcademyTextEn)
                       

                        @if (!string.IsNullOrEmpty(Model.AcademyTextEn))
                        {
                            <a href="@Model.AcademyLink" class="btn text-white mt-3 btn-primary">
                                <i class="fas fa-arrow-circle-right ms-2"></i>
                                @Model.AcademyButtonTextEn</a>
                        }

                    </div>

                }
               
            </div>
            
        </div>
    </div>
</section>