@model Application.Queries.Feature.FeatureViewModel
@{
    string font = CultureInfo.CurrentUICulture.Name! == "en-US" ? "English" : ""!;

    string direction = CultureInfo.CurrentUICulture.Name == "en-US" ? "ltr" : "rtl";
}
<div class="banner-bottom">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <a href="@Model.LinkOne" class="card feature-bg feature" dir="@direction">
                    <div>
                        @if (Model.ImageOne == "default.jpg")
                        {
                            <img src="~/gallery/default.jpg"  />
                        }
                        else
                        {
                            <img src="~/gallery/feature/@Model.ImageOne" />

                        }
                    </div>
                    <div class="care-text">
                        @if (CultureInfo.CurrentUICulture.Name == "en-US")
                        {
                            <h2 style="color:#252D69" class="@font">@Model.TitleEnOne</h2>
                            <p style="color:#252D69" class="@font">@Model.TextEnOne</p>
                        }
                        else
                        {

                            <h2 style="color:#252D69">@Model.TitleFaOne</h2>
                            <p style="color:#252D69">@Model.TextFaOne</p>
                        }
                        
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="@Model.LinkTwo" class="card feature-bg feature" dir="@direction">
                    <div>
                        @if (Model.ImageTwo == "default.jpg")
                        {
                            <img src="~/gallery/default.jpg" />
                        }
                        else
                        {
                            <img src="~/gallery/feature/@Model.ImageTwo" />

                        }
                    </div>
                    <div class="care-text">
                        @if (CultureInfo.CurrentUICulture.Name == "en-US")
                        {
                            <h2 style="color:#252D69" class="@font">@Model.TitleEnTwo</h2>
                            <p style="color:#252D69"  class="@font">@Model.TextEnTwo</p>
                        }
                        else
                        {

                            <h2 style="color:#252D69">@Model.TitleFaTwo</h2>
                            <p style="color:#252D69">@Model.TextFaTwo</p>
                        }

                    </div>
                </a>
            </div>




            <div class="col-md-3">
                <a href="@Model.LinkThree" class="card feature-bg feature" dir="@direction">
                    <div>
                        @if (Model.ImageThree == "default.jpg")
                        {
                            <img src="~/gallery/default.jpg" />
                        }
                        else
                        {
                            <img src="~/gallery/feature/@Model.ImageThree" />

                        }
                    </div>
                    <div class="care-text">
                        @if (CultureInfo.CurrentUICulture.Name == "en-US")
                        {
                            <h2 style="color:#252D69" class="@font">@Model.TitleEnThree</h2>
                            <p style="color:#252D69" class="@font">@Model.TextEnThree</p>
                        }
                        else
                        {

                            <h2 style="color:#252D69">@Model.TitleFaThree</h2>
                            <p style ="color:#252D69"> @Model.TextFaThree</p>
                        }

                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="@Model.LinkFour" class="card feature-bg feature" dir="@direction">
                    <div>
                        @if (Model.ImageFour == "default.jpg")
                        {
                            <img src="~/gallery/default.jpg" />
                        }
                        else
                        {
                            <img src="~/gallery/feature/@Model.ImageFour" />

                        }
                    </div>
                    <div class="care-text">
                        @if (CultureInfo.CurrentUICulture.Name == "en-US")
                        {
                            <h2 style="color:#252D69" class="@font">@Model.TitleEnFour</h2>
                            <p style="color:#252D69" class="@font">@Model.TextEnFour</p>
                        }
                        else
                        {

                            <h2 style="color:#252D69">@Model.TitleFaFour</h2>
                            <p style="color:#252D69">@Model.TextFaFour</p>
                        }

                    </div>
                </a>
            </div>





        </div>
    </div>
</div>
