@model Application.Queries.Setting.ViewModels.FooterInformationViewModel

@{
    string font = CultureInfo.CurrentUICulture.Name! == "en-US" ? "English" : ""!;

}
<div class="footer-widget footer-about">
    <div class="footer-logo">

        @if (CultureInfo.CurrentUICulture.Name == "fa-IR")
        {
            <img src="~/gallery/setting/@Model.BottomLogoPathFa" alt="logo">
        }
        else
        {
            <img src="~/gallery/setting/@Model.BottomLogoPathEn" alt="logo">
        }
       
    </div>
    <div class="footer-about-content">

        @if (CultureInfo.CurrentUICulture.Name == "fa-IR")
        {
            <p class="@font text-white">
                @Model.DescriptionFa
            </p>
        }
        else
        {
            <p class="text-white">
                @Model.DescriptionEn
            </p>
            
        }

        <div class="social-icon">
            <ul>
                <li class="mx-1 ">
                    <a href="@Model.WhatsApp" target="_blank">
                        <i class="fab fa-whatsapp text-dark-blue"></i>
                    </a>
                </li>
                <li class="mx-1">
                    <a href="@Model.Linkedin" target="_blank">
                        <i class="fab fa-linkedin-in text-dark-blue"></i>
                    </a>
                </li>
                <li class="mx-1">
                    <a href="@Model.Instagram" target="_blank">
                        <i class="fab fa-instagram text-dark-blue"></i>
                    </a>
                </li>
                <li class="mx-1">
                    <a href="@Model.Telegram" target="_blank">
                        <i class="fab fa-telegram text-dark-blue"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>