@using Application.Queries.NewsCategory
@model IReadOnlyList<NewsCategoryViewModel>
@{
    string align = CultureInfo.CurrentUICulture.Name! == "en-US" ? "ltr" : "rtl"!;

}
<nav class="user-tabs mb-4" style="direction:@align">
    <ul style="padding-left:0;" class="nav nav-tabs nav-tabs-bottom nav-justified">

        @if (Model != null && Model.Any())
        {
            @for (int i=0;i<Model.Count();i++)
            {
                @if (i == 0)
                {
                    <input type="hidden" id="ActiveTab" value="@Model[i].Id"/>

                }
                string? isActive = i == 0 ? "active" : null;

                <li class="nav-item">
                    <a onclick="loadNews('@(Model[i].Id)',1)"
                       class="nav-link @isActive"
                       href="#tab_@Model[i].Id" data-bs-toggle="tab">
                        @if (CultureInfo.CurrentUICulture.Name == "en-US")
                        {
                            <span>@Model[i].TitleEn</span>
                        }
                        else
                        {
                            <span>@Model[i].TitleFa</span>
                        }
                    </a>
                </li>
            }
        }
    </ul>
</nav>
<div class="tab-content pt-0">
    @if (Model != null && Model.Any())
    {
        @for (int i = 0; i < Model.Count(); i++)
        {
            string? isActive = i == 0 ? "active" : null;
            <div role="tabpanel" id="tab_@Model[i].Id" class="tab-pane fade show @isActive" style="direction:@align">
                <div class="row" id="list_@Model[i].Id">
                </div>
                <a onclick="loadNews('@(Model[i].Id)',1)" class="w-25 btn btn-sm btn-primary text-white mb-5" id="more_@Model[i].Id">
                    @(CultureInfo.CurrentUICulture.Name! == "en-US" ? "more" : "بیشتر")
                </a>
            </div>
        }
    }
   

</div>