@model IReadOnlyList<Application.Queries.Option.OptionViewModel>
@{
    string font = CultureInfo.CurrentUICulture.Name! == "en-US" ? "English" : ""!;
}

<div class="row p-3">
    @foreach (var item in Model)
    {
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="card text-center  d-flex justify-content-center" style="width: 18rem;">
                <img src="~/gallery/Product/@item.ImagePath" class="card-img-top img-option" />
                <div class="card-body">
                    <h5 class="card-title @font">
                        @if (CultureInfo.CurrentUICulture.Name == "en-US")
                        {
                            @item.TitleEn
                        }
                        else
                        {
                            @item.TitleFa
                        }
                    </h5>
                    <p class="card-text @font">
                        @if (CultureInfo.CurrentUICulture.Name == "en-US")
                        {
                            @item.DescriptionEn
                        }
                        else
                        {
                            @item.DescriptionFa
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>