@model IReadOnlyList<Application.Queries.Product.ViewModels.ProductViewModel>
@{
    string font = CultureInfo.CurrentUICulture.Name! == "en-US" ? "English" : ""!;
}


<div class="row p-5 mb-5 text-center">


    <div class="card author-widget clearfix">
        <div class="card-header">

            @if (CultureInfo.CurrentUICulture.Name == "en-US")
            {
                <h2 class="card-title @font">
                    Related products
                </h2>
            }
            else
            {
                <h2 class="card-title">
                    محصولات مرتبط
                </h2>
            }

        </div>
        <div class="card-body">
            <div class="swiper mySwiperRelated">
                <div class="swiper-wrapper">



                    @foreach (var product in Model)
                    {
                        <!-- استفاده از کلاس استاندارد swiper-slide -->
                        <div class="swiper-slide-partner swiper-slide mx-3 p-3">
                            <div style="width:100%;" class="profile-widget product-card-related">

                                <div class="doc-img">
                                    <a asp-controller="Product" asp-action="Detail" asp-route-pattern="@product.Id">
                                        @if (product.ImagePath == "default.jpg")
                                        {
                                            <img style="height:100px;width:100%;" class="img-fluid" src="~/Gallery/default.jpg">
                                        }
                                        else
                                        {
                                            <img style="height:100px;width:100%;" class="img-fluid" height="50" src="~/Gallery/Product/@product.ImagePath">
                                        }
                                    </a>

                                </div>
                                <div class="pro-content">
                                    <h3 class="title @font">
                                        <a asp-controller="Product" asp-action="Detail" asp-route-pattern="@product.Id" class="product-title">
                                            @if (CultureInfo.CurrentUICulture.Name == "en-US")
                                            {
                                                @product.TitleEn
                                            }
                                            else
                                            {
                                                @product.Title
                                            }
                                        </a>

                                    </h3>

                                </div>
                            </div>
                        </div>
                    }


                </div>
                <!-- Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Navigation arrows (اختیاری) -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>









</div>
