@model Application.Queries.Statistic.StatisticViewModel
@{
    string font = CultureInfo.CurrentUICulture.Name! == "en-US" ? "English" : ""!;
}

@if (CultureInfo.CurrentUICulture.Name == "en-US")
{
    <div class="row counts ">
        <div class="col-sm-6 col-md-3 mt-5 text-center">
            <h1 class="@font font-big">@Model.NumberOne</h1>
            <h4 class="@font">@Model.TitleEnOne</h4>
        </div>
        <div class="col-sm-6 col-md-3 mt-5 text-center">
            <h1 class="@font font-big">@Model.NumberTwo</h1>
            <h4 class="@font">@Model.TitleEnTwo</h4>
        </div>
        <div class="col-sm-6 col-md-3 mt-5 text-center">
            <h1 class="@font font-big">@Model.NumberThree</h1>
            <h4 class="@font">@Model.TitleEnThree</h4>
        </div>
        <div class="col-sm-6 col-md-3 mt-5 text-center">
            <h1 class="@font font-big">@Model.NumberFour</h1>
            <h4 class="@font">@Model.TitleEnFour</h4>
        </div>
    </div>
}
else
{
     <div class="row counts">
        <div class="col-sm-6 col-md-3 mt-5 text-center">
            <h1 class="font-big">@Model.NumberOne</h1>
            <h4>@Model.TitleFaOne</h4>
        </div>
        <div class="col-sm-6 col-md-3 mt-5 text-center">
            <h1 class="font-big">@Model.NumberTwo</h1>
            <h4>@Model.TitleFaTwo</h4>
        </div>
        <div class="col-sm-6 col-md-3 mt-5 text-center">
            <h1 class="font-big">@Model.NumberThree</h1>
            <h4>@Model.TitleFaThree</h4>
        </div>
        <div class="col-sm-6 col-md-3 mt-5 text-center">
            <h1 class="font-big">@Model.NumberFour</h1>
            <h4>@Model.TitleFaFour</h4>
        </div>
    </div>
}