@model Application.Queries.Product.ViewModels.ProductDetailViewModel
@{
    string title = CultureInfo.CurrentUICulture.Name! == "en-US" ? Model.TitleEn! : Model.TitleFa!;
    ViewData["Title"] = title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string align = CultureInfo.CurrentUICulture.Name! == "en-US" ? "ltr" : "rtl"!;

}
@section Style{
    <link rel="stylesheet" href="~/map/leaflet.css" />
    <script src="~/map/leaflet.js"></script>
}
@section Script{
    <script src="~/js/productDetail.js"></script>
}
<input type="hidden" value="@align" id="CurrentUICulture" />
<div class="row row-Category">
    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-without-space">
        <img class="category-image" src="~/gallery/Product/@Model.ImagePath" />
    </div>

    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 bg-product col-without-space" style="direction:@align">

        @if (CultureInfo.CurrentUICulture.Name == "en-US")
        {
            <h2 class="text-white title-product">@Model.TitleEn</h2>

        }
        else
        {
            <h2 class="text-white title-product">@Model.TitleFa</h2>


        }
        <br />
        <a class="btn-more-product">@Localizer["BtnMore"]</a>
        <div>
        </div>
    </div>
</div>
<div>
    <div class=" pt-0">
        <nav class="user-tabs mb-4" style="direction:@align">
            <ul style="padding-left:0;" class="nav nav-tabs nav-tabs-bottom nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" href="#overview" data-bs-toggle="tab">@Localizer["Tab1"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#gallery" data-bs-toggle="tab">@Localizer["Tab2"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#document" data-bs-toggle="tab">@Localizer["Tab3"]</a>
                </li>

            </ul>
        </nav>
        <div class="tab-content pt-0">
            <div role="tabpanel" id="overview" class="tab-pane fade show active">
                <div class="row p-3">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 offset-xl-2 offset-lg-2">
                        <p style="direction:@align">
                            @if (CultureInfo.CurrentUICulture.Name == "en-US")
                            {
                                @Model.DescrptionEn
                            }
                            else
                            {
                                @Model.DescrptionFa
                            }
                        </p>
                    </div>
                </div>
                @await Component.InvokeAsync("ProductOptionComponent", Model.Id)
                <div class="row p-3">
                    <div class="col-xl-6
                               col-lg-6
                               col-md-12
                               col-sm-12
                               offset-lg-3
                               offset-xl-3 mt-5">
                        @Html.Raw(Model.VideoLink)
                    </div>
                </div>
            </div>
            <div role="tabpanel" id="gallery" class="tab-pane fade">
                @await Component.InvokeAsync("ProductImageComponent", Model.Id)
            </div>
            <div role="tabpanel" id="document" class="tab-pane fade">
                @await Component.InvokeAsync("ProductDocumentComponent", Model.Id)
            </div>

        </div>
    </div>
</div>



@await Component.InvokeAsync("RelatedProductsComponent", Model.Id)
<div class="row mt-4">
  <div class="container p-5 text-center">
      
        @await Component.InvokeAsync("ProductTreatmentCenterComponent", Model.Id)
  </div>
</div>