@model IReadOnlyList<Application.Queries.Search.SearchViewModel>
@{
    string textAlign = CultureInfo.CurrentUICulture.Name == "en-US" ? "left" : "right";
    string title = CultureInfo.CurrentUICulture.Name! == "en-US" ? "Search"! : "جستجو";
    string align = CultureInfo.CurrentUICulture.Name! == "en-US" ? "ltr" : "rtl"!;

    ViewData["Title"] = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mg-t-100">
    <div class="row text-center mt-5">
        @if (CultureInfo.CurrentUICulture.Name! == "en-US")
        {
            <h3 dir="@align">Advanced search for : <span class="text-danger">@ViewBag.Search</span></h3>
        }
        else
        {
            <h3 dir="@align">جستجوی پیشرفته برای : <span class="text-danger">@ViewBag.Search</span></h3>
        }
        <hr />

        @foreach(var item in Model)
        {

            @if (item.flag == 1)
            {
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <a asp-controller="Blog" asp-action="Detail" asp-route-Id="@item.Id">

                    <div class="card shadow" style="width: 100%">
                        @if (CultureInfo.CurrentUICulture.Name == "en-US")
                        {

                            @if (item.Image == "default.jpg")
                            {
                                <img id="imagePath_1"
                                     src="~/Gallery/default.jpg" class="img-last-news" />
                            }
                            else
                            {



                                <img id="imagePath_1"
                                     src="~/Gallery/Article/@item.Image" class="img-last-news" />
                            }
                            <div class="card-body body-last-news">
                                <p class="card-text" style="text-align:@textAlign">@item.TitleEn</p>
                            </div>
                            <p class="card-text p-3" style="text-align:@textAlign"><small class="text-info">Blog</small></p>

                        }
                        else
                        {
                            @if (item.Image == "default.jpg")
                            {
                                <img id="imagePath_1"
                                     src="~/Gallery/default.jpg" class="img-last-news" />
                            }
                            else
                            {



                                <img id="imagePath_1"
                                     src="~/Gallery/Article/@item.Image" class="img-last-news" />
                            }
                            <div class="card-body body-last-news">
                                <p class="card-text" style="text-align:@textAlign">@item.TitleFa</p>
                            </div>
                            <p class="card-text p-3" style="text-align:@textAlign">
                                <small class="text-info">مقاله</small>
                            </p>

                        }

                    </div>
                </a>
                    </div>

            }else if (item.flag == 2)
            {
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <a asp-controller="News" asp-action="Detail" asp-route-Id="@item.Id">
                    <div class="card shadow" style="width: 100%">
                        @if (CultureInfo.CurrentUICulture.Name == "en-US")
                        {

                            @if (item.Image == "default.jpg")
                            {
                                <img id="imagePath_1"
                                     src="~/Gallery/default.jpg" class="img-last-news" />
                            }
                            else
                            {



                                <img id="imagePath_1"
                                     src="~/Gallery/News/@item.Image" class="img-last-news" />
                            }
                            <div class="card-body body-last-news">
                                <p class="card-text" style="text-align:@textAlign">@item.TitleEn</p>
                            </div>
                            <p class="card-text p-3" style="text-align:@textAlign"><small class="text-info">News</small></p>

                        }
                        else
                        {
                            @if (item.Image == "default.jpg")
                            {
                                <img id="imagePath_1"
                                     src="~/Gallery/default.jpg" class="img-last-news" />
                            }
                            else
                            {



                                <img id="imagePath_1"
                                     src="~/Gallery/News/@item.Image" class="img-last-news" />
                            }
                            <div class="card-body body-last-news">
                                <p class="card-text" style="text-align:@textAlign">@item.TitleFa</p>
                            </div>
                            <p class="card-text p-3" style="text-align:@textAlign">
                                <small class="text-info">خبر</small>
                            </p>

                        }
                        </div>
                </a>
                    </div>

            }
            else
            {
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <a asp-controller="Product" asp-action="Detail" asp-route-Pattern="@item.Id">

                    <div class="card shadow" style="width: 100%">
                        @if (CultureInfo.CurrentUICulture.Name == "en-US")
                        {

                            @if (item.Image == "default.jpg")
                            {
                                <img id="imagePath_1"
                                     src="~/Gallery/default.jpg" class="img-last-news" />
                            }
                            else
                            {



                                <img id="imagePath_1"
                                     src="~/Gallery/Product/@item.Image" class="img-last-news" />
                            }
                            <div class="card-body body-last-news">
                                <p class="card-text" style="text-align:@textAlign">@item.TitleEn</p>
                            </div>
                            <p class="card-text p-3" style="text-align:@textAlign"><small class="text-info">Product</small></p>

                        }
                        else
                        {
                            @if (item.Image == "default.jpg")
                            {
                                <img id="imagePath_1"
                                     src="~/Gallery/default.jpg" class="img-last-news" />
                            }
                            else
                            {



                                <img id="imagePath_1"
                                     src="~/Gallery/Product/@item.Image" class="img-last-news" />
                            }
                            <div class="card-body body-last-news">
                                <p class="card-text" style="text-align:@textAlign">@item.TitleFa</p>
                            </div>
                            <p class="card-text p-3" style="text-align:@textAlign">
                                <small class="text-info">محصول</small>
                            </p>

                        }

                        </div>
                </a>
                    </div>
            }
        }
    </div>
</div>
