@model IReadOnlyList<Application.Queries.ProductCategory.ViewModels.CategoryMenuViewModel>

@{
    string font = CultureInfo.CurrentUICulture.Name! == "en-US" ? "English" : ""!;

}

<ul class="submenu">
    @if (CultureInfo.CurrentUICulture.Name == "en-US")
    {
        @foreach (var category in Model)
        {

            <li class="@(category.SubCategories!.Any() ? "has-submenu" : "")" dir="ltr">
                <a class="@font" asp-controller="Product" asp-action="ProductCategory" asp-route-patterns="@category.Id">
                    @category.TitleEn
                   @*  @if (category.SubCategories!.Any())
                    {
                        <i class="fas fa-chevron-down"></i>
                    } *@
                </a>

                @if (category.SubCategories.Any())
                {
                    @await Html.PartialAsync("Partial/_CategoryMenu", category.SubCategories)
                }
            </li>
        }
    }
    else
    {
        @foreach (var category in Model)
        {

            <li class="@(category.SubCategories!.Any() ? "has-submenu" : "")">
                <a class="@font" asp-controller="Product" asp-action="ProductCategory" asp-route-patterns="@category.Id">
                    @category.TitleFa
                   @*  @if (category.SubCategories.Any())
                    {
                        <i class="fas fa-chevron-down"></i>
                    } *@
                </a>

                @if (category.SubCategories.Any())
                {
                    @await Html.PartialAsync("Partial/_CategoryMenu", category.SubCategories)
                }
            </li>
        }
    }
   
</ul>
