@model IReadOnlyList<Application.Queries.ProductCategory.ViewModels.CategoryMenuViewModel>

@{
    string font = CultureInfo.CurrentUICulture.Name! == "en-US" ? "English" : ""!;
    string align = CultureInfo.CurrentUICulture.Name! == "en-US" ? "left" : "right"!;

} 

    <div>

        @if (CultureInfo.CurrentUICulture.Name == "en-US")
        {
        @foreach (var category in Model.OrderBy(o => o.DisplayPriority))
            {
                <h4 dir="ltr" class="text-sm font-semibold text-gray-800 mb-4" >

                <i class="fa fa-chevron-right" aria-hidden="true" style="color:#a6c6ed"></i>

                    <a class="@font" asp-controller="Product" asp-action="ProductCategory" asp-route-patterns="@category.Id">
                        @category.TitleEn
                    </a>
                </h4>
                @if (category.SubCategories.Any())
                {
                    @await Html.PartialAsync("Partial/_CategorySubMenu", category.SubCategories)
                }

            }
        }
        else
        {
        @foreach (var category in Model.OrderBy(o => o.DisplayPriority))
            {
       
                <h4 dir="ltr" class="text-sm font-semibold text-gray-800 mb-4" >
               
                    <a class="@font" asp-controller="Product" asp-action="ProductCategory" asp-route-patterns="@category.Id">
                        @category.TitleFa
                </a>   <i class="fa fa-chevron-left" aria-hidden="true" style="color:#a6c6ed"></i>

                </h4>
                @if (category.SubCategories.Any())
                {
                @await Html.PartialAsync("Partial/_CategorySubMenu", category.SubCategories)
                }

            }
        }









</div>