@model IReadOnlyList<Application.Queries.ProductCategory.ViewModels.CategoryMenuViewModel>

@{
    string font = CultureInfo.CurrentUICulture.Name! == "en-US" ? "English" : ""!;
    string align = CultureInfo.CurrentUICulture.Name! == "en-US" ? "left" : "right"!;

} 

    <div>

        @if (CultureInfo.CurrentUICulture.Name == "en-US")
        {
            @foreach (var category in Model)
            {
                <h5 dir="ltr" class="text-sm font-semibold text-gray-800 mb-3" style="margin-left:30px;">

                    <a class="@font" asp-controller="Product" asp-action="ProductCategory" asp-route-patterns="@category.Id">
                        @category.TitleEn
                    </a>
                </h5>
                @if (category.SubCategories.Any())
                {
                    @await Html.PartialAsync("Partial/_CategoryMenu", category.SubCategories)
                }

            }
        }
        else
        {
            @foreach (var category in Model)
            {

            <h5 dir="ltr" class="text-sm font-semibold text-gray-800 mb-3" style="margin-right:30px;">

                    <a class="@font" asp-controller="Product" asp-action="ProductCategory" asp-route-patterns="@category.Id">
                        @category.TitleFa
                    </a>
                </h5>
                @if (category.SubCategories.Any())
                {
                    @await Html.PartialAsync("Partial/_CategoryMenu", category.SubCategories)
                }

            }
        }









</div>