@{
    string font = CultureInfo.CurrentUICulture.Name! == "en-US" ? "English" : ""!;

    string direction = CultureInfo.CurrentUICulture.Name == "en-US" ? "ltr" : "rtl";
}
<footer class="footer" style="direction:@direction;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 @font">
                    @await Component.InvokeAsync("FooterInformationComponent")
                </div>
                @await Component.InvokeAsync("FooterColumnComponent")
              
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-menu">
                      
                        @await Component.InvokeAsync("LicenseLogoComponent")

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex col-md-12">
                <p class="@font">
                    @if (CultureInfo.CurrentUICulture.Name == "en-US")
                    {
                        <strong>©Copyright @(DateTime.Now.Year)</strong>
                    }

                    @Localizer["CopyRight1"]
                    <a class="text-white @font" href="https://darnogroup.com/">
                        @Localizer["CopyRight2"]
                </a>
                </p>
            </div>
        </div>
    </div>
</footer>