@{
    string direction = CultureInfo.CurrentUICulture.Name == "en-US" ? "ltr" : "rtl";
}
<footer class="footer" style="direction:@direction;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    @await Component.InvokeAsync("FooterInformationComponent")
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title"> @Localizer["QuickLinks"]</h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="ContactUs">@Localizer["contactus"]</a>
                            </li>
                            <li>
                                <a href="About">‌@Localizer["About"]</a>
                            </li>
                            
                            <li>
                                <a asp-controller="Blog" asp-action="Index">‌@Localizer["Blog"]</a>
                            </li>
                           <li>
                                <a asp-controller="News" asp-action="Index">‌@Localizer["News"]</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title"> @Localizer["QuickLinks"]</h2>
                        <ul>
                           
                            <li>
                                <a asp-controller="Home" asp-action="TreatmentCenter" >‌@Localizer["TreatmentCenter"]</a>
                            </li>  
                            <li>
                                <a asp-controller="Identity" asp-action="SignIn" >‌@Localizer["SignIn"]</a>
                            </li>  
                            <li>
                                <a asp-controller="Identity" asp-action="signup" >‌@Localizer["signup"]</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title"> اشتراک در به روزرسانی </h2>
                        <p>آخرین اخبار و رویدادها را از دست ندهید</p>
                        <form>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="ایمیل">
                                <button class="btn btn-outline-secondary" type="button">اشتراک</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex col-md-12">
                <p>
                    @if (CultureInfo.CurrentUICulture.Name == "en-US")
                    {
                        <strong>©Copyright @(DateTime.Now.Year)</strong>
                    }

                    @Localizer["CopyRight1"]
                <a class="text-white" href="https://darnogroup.com/">
                        @Localizer["CopyRight2"]
                </a>
                </p>
            </div>
        </div>
    </div>
</footer>