@{
    string direction = CultureInfo.CurrentUICulture.Name == "en-US" ? "ltr" : "rtl";
}

<header class="header" style="direction:@direction;">
    <nav  class="navbar navbar-expand-lg header-nav d-flex justify-content-between zindex-3">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="/" class="navbar-brand logo">
                @await Component.InvokeAsync("LogoHeaderComponent")
            </a>
        </div>
        <div class="main-menu-wrapper " >
            <div class="menu-header">
                <a href="/" class="menu-logo">
                    @await Component.InvokeAsync("LogoHeaderComponent")
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav mritem zindex2">
                <li class=" mx-3">
                    <a href="/">@Localizer["HomeMenu"]</a>
                </li>

                <li class="has-submenu mx-3">
                    <a href="#">
                        ‌
                        @Localizer["Product"]
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="submenu ">
                        @await Component.InvokeAsync("MenuComponent")



                    </ul>
                </li>
               
                <li class="has-submenu mx-3">
                    <a href="#">
                        ‌
                        @Localizer["COMPANIES"]
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="submenu ">
                        <li>
                            <a href="/Hologic">
                                @Localizer["Hologic"]
                            </a>
                        </li>

                        <li>
                            <a href="/BD">
                                @Localizer["BD"]
                            </a>
                        </li>

                        <li>
                            <a href="/Mindray">
                                @Localizer["Mindray"]
                            </a>
                        </li>

                        <li>
                            <a href="/Snibe">
                                @Localizer["Snibe"]
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="has-submenu mx-3">
                    <a >
                        ‌
                        @Localizer["Support"]
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="submenu ">
                        <li>
                            <a>
                                @Localizer["ServiceRequest"]
                            </a>
                        </li>
                        <li>
                            <a>
                                @Localizer["TrainingRequest"]
                            </a>
                        </li>
                        <li>
                            <a>
                                @Localizer["OperationManual"]
                            </a>
                        </li>
                        <li>
                            <a>
                                @Localizer["Brochure"]
                            </a>
                        </li>




                    </ul>
                </li>


                <li class="has-submenu mx-3">
                    <a>
                        ‌
                        @Localizer["About"]
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="submenu ">
                        <li>
                            <a>
                                @Localizer["AboutTakapo"]
                            </a>
                        </li>
                        <li>
                            <a>
                                @Localizer["Events"]
                            </a>
                        </li>
                        <li>
                            <a asp-controller="News" asp-action="Index">
                                @Localizer["Newsroom"]
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="ContactUs">
                                @Localizer["ContactUs"]
                            </a>
                        </li>

                        <li >
                            <a href="/Blog">@Localizer["BlogMenu"]</a>
                        </li>
                    </ul>
                </li>
                <li class=" mx-3">
                    <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US">
                        <img src="~/gallery/en.png" width="35" height="25" />
                    </a>
                </li>
                 <li class=" mx-3">
                    <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="fa-IR">
                        <img src="~/gallery/fa.png" width="35" height="25" />

                    </a>
                </li>


             @*    <li class="has-submenu mx-3">
                    <a href="#">
                        ‌
                        @Localizer["LanguageMenu"]
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="submenu ">
                        <li>
                          
                            <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US">
                                <img src="~/gallery/en.png" width="35" height="25" />
                                @Localizer["Language1"]
                            </a>
                        </li>
                        <li>
                           

                            <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="fa-IR">
                                <img src="~/gallery/fa.png" width="35" height="25" />
                                @Localizer["Language2"]

                            </a>
                        </li>
                       
                    </ul>
                </li> *@

                <li class="mx-3">
                <form asp-controller="Home" asp-action="Search" method="get">
                        <input type="text" name="text" class="form-control form-control-sm search-menu" placeholder="@Localizer["SearchMenu"]">

                    </form> 
                </li>
            </ul>

        </div>
        <ul class="nav header-navbar-rht">
          
            <li class="nav-item">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-area="User" asp-controller="Dashboard" asp-action="MyProfile" class="btn-success text-white p-2">
                        ‌

                        @Localizer["IsAuthenticatedButton"]
                        ‌
                    </a>
                    
                }else{
                    <a asp-controller="Identity" asp-action="SignIn" class="nav-link header-login">
                        ‌

                        @Localizer["Button"]
                        ‌
                    </a>
                }
                
            </li>
        </ul>
    </nav>
</header>

