@model PaginatedList<Application.Queries.Document.DocumentViewModel>

@{
    ViewData["Title"] = "لیست مستندات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Script {

    <script src="~/js/rest.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/pagination.js"></script>
    <script src="~/assets/js/document/Index.js"></script>

}
<nav aria-label="breadcrumb">
    <ol class="lh-1-85 breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin">پیشخوان</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Product" asp-action="Index">لیست محصولات</a>
        </li>

        <li class="breadcrumb-item active">لیست مستندات</li>
    </ol>
</nav>
<div class="row">
    <div class="card">
        <div class="card-header">
            <h5 class="heading-color">لیست ویژگی ها</h5>
            <a asp-area="Admin" asp-controller="Document"
               asp-action="Create" asp-route-ProductId="@ViewBag.ProductId"
               class="btn btn-sm btn-success text-white">
                ایجاد ویژگی
            </a>
            <form asp-area="Admin" asp-controller="Document" asp-action="Index" method="get" class="input-group mt-3 w-25">
                <input class="form-control form-control-sm" name="keyword" type="search"
                       placeholder="یک عبارت جستجو کنید" value="@ViewBag.Search" />
                <input type="hidden" name="ProductId" value="@ViewBag.ProductId" />
                <button class="btn btn-sm btn-primary" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <a asp-area="Admin" asp-controller="Document" asp-action="Index"
                   asp-route-ProductId="@ViewBag.ProductId"
                   class="btn btn-sm btn-warning text-white"><i class="fa-solid fa-rotate-right"></i></a>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          
                            <th>عنوان فارسی</th>
                           
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @if (Model != null && Model.List!.Any())
                        {
                            @foreach (var item in Model.List!)
                            {
                                <tr id="item_@item.Id">
                                   
                                    <td>@item.TitleFa</td>


                                    <td>
                                        <a href="~/files/Product/@item.FilePath" class="btn btn-sm btn-info text-white">
                                            دانلود فایل
                                        </a>
                                         <a onclick="Delete('@item.Id')"
                                           class="btn btn-sm btn-danger text-white">حذف</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">

            @if (Model!.TotalPage > 1)
            {
                <div id="pagination-body"
                     data-page-index="@Model.CurentPage"
                     data-total-pages="@Model.TotalPage"
                     data-search="@ViewBag.Search"
                     data-path="/Admin/Document/Index">
                </div>
            }
        </div>
    </div>
</div>